<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.DishMapper">

    <select id="dishList" resultType="com.sky.dto.DishDTO"> <!-- resultType 是 MyBatis 中用于指定查询结果映射类型的配置项  -->
        select dish.* from dish
        <where>
            <if test="name != null and name != ''">
                dish.name like concat('%',#{name},'%')
            </if>
            <if test="categoryId != null">
                and dish.category_id = #{categoryId}
            </if>
            <if test="status != null">
                and dish.status = #{status}
            </if>
        </where>
        order by dish.update_time desc
    </select>

    <update id="update" parameterType="com.sky.entity.Dish"> <!-- parameterType 是 MyBatis 中用于指定参数类型的配置项  -->
        update dish
        <set>
            <if test="name != null and name != ''" >name = #{name},</if>
            <if test="image != null and image != ''" >image = #{image},</if>
            <if test="description != null and description != ''" >description = #{description},</if>
            <if test="categoryId != null" >category_id = #{categoryId},</if>
            <if test="price != null and price != ''" >price = #{price},</if>
            <if test="status != null" >status = #{status},</if>
            <if test="updateTime != null" >update_time = #{updateTime},</if>
            <if test="updateUser != null" >update_user = #{updateUser},</if>
        </set>
        where id = #{id}
    </update>

</mapper>