<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.EmployeeMapper">

    <select id="list" resultType="com.sky.dto.EmployeeDTO"> <!-- resultType 是 MyBatis 中用于指定查询结果映射类型的配置项  -->
        select employee.* from employee
        <where>
            <if test="name != null and name != ''">
                 employee.name like concat('%',#{name},'%')
            </if>
        </where>
        order by employee.update_time desc
    </select>

</mapper>
